collective-communication-broadcast
collective-communication-broadcast-solution
collective-communication-scatter-and-gather
collective-communication-scatter-and-gather-solution
collective-communication-allgather
collective-communication-allgather-solution
collective-communication-alltoall
collective-communication-alltoall-solution
*~